extends ./layout.pug
block content
    section.boaard
            .row
                .col.m4
                    ul.collection.with-header
                        li.collection-header
                            h4 Profile
                            img.responsive-img(src= "https://scontent.flos6-1.fna.fbcdn.net/v/t1.0-9/19029646_1485569508160932_7785511066077146586_n.jpg?_nc_eui2=v1%3AAeHX1z-Jnz3Foug2I2sraFzmXntgshPUXuSIu6MfEhWrxAk6JMAgeEwKPSDnJMSLj2wuevYfvw2DohbhuPBpcm1ywuyzq92tiektt41L7hAJ1w&oh=b92ec725ef4d1772eeea8b10fbf794f4&oe=5AA18CE6" alt="Contact Person")
                            a.waves-effect.waves-light.btn.pink(href= "/changedp") Change Profile picture
                        li.profile.collection-item Name: #{name}
                        li.profile.collection-item Games Won: #{won}
                        li.profile.collection-item Games lost: #{lost}
                        li.profile.collection-item Level:#{level}
                .col.m4
                    .vs
                        h1.red-text VS
                    #txt Click play to play with an onlline user or with ticky the computer
                    div#newboard
                        div.crow
                            div.cell#div0
                            div.cell.div1
                            div.cell.div2
                        div.crow
                            div.cell.div3
                            div.cell.div4
                            div.cell.div5
                        div.crow
                            div.cell.div6
                            div.cell.div7
                            div.cell.div8
                .col.m4
                    ul.collection.with-header
                        li.collection-header
                            h4 Profile
                            img.responsive-img(src= " " alt="Contact Person")
                            a.waves-effect.waves-light.btn.pink(href= "/changedp") Change Profile picture
                        li#name.collection-item
                        li#won.collection-item
                        li#lost.collection-item
                        li#level.collection-item 
            
          
        
      
            a#play.btn.waves-effect.btn-large.pink(onclick ='alarm()') Play
            .card.blue-grey.darken-1
                #div1.card-content.white-text
                    span.card-title Online Users
                    div.chip#myChip
                    
    footer.page-footer
            h5 Contribute to this project on git hub
            a(href = "#") Git hub
            .footer-copyright
                .container    &copy; Woris jakes
    script(src ="/sript.js")
    script(src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script.
        var socket = io();
        function alarm(){
            arr = [];
            var idname = document.querySelectorAll("li.profile");
            for(var i = 0; i<idname.length; i++){
                arr.push(idname[i].innerHTML);
            }
            var  data = [socket.id, arr];
            var room = document.getElementById('name').innerHTML;
            var board = document.getElementById('newboard');
            board.style.display = 'block';
            socket.emit('room', data);
        }
        socket.on('connectToRoom',function(data){
            if(data == 'No one is online'){
                alert(data);
            }else{
            document.getElementById('name').innerHTML = data[0];
            document.getElementById('won').innerHTML = data[1];
            document.getElementById('lost').innerHTML = data[2];
            document.getElementById('level').innerHTML = data[3];
            }
        });
        socket.on('chat', function(msg){
            var arr = Object.keys(msg);
            var sarr = Object.values(msg);
            alert(sarr[0]);

            if(msg =="No one is online"){
                confirm("No one is online, Would you love to play with ticky");
            }
            else{
                var elem =document.getElementById('myChip');
                elem.innerHTML = msg;
            }
        });